p {
    font-family: Lato;
  }
  .container {
    margin-top: 5vh;
    display: flex;
    justify-content: space-around;
  }
  .input-box {
    width: 25%;
    height: 5vh;
    border: 1px solid grey;
    border-radius: 5px;
    outline: none;
  }
  img {
    width: 40%;
    height: 40vh;
    border-radius: 10px;
  }
  