<nav id="nav-bar" class="navbar navbar-dark bg-secondary">
  <div class="container-fluid">
    <a class="navbar-brand">Data Binding</a>
  </div>
</nav>
<div id="input-container" class="container">
  <h5>Select the Animal</h5>
  <select id="input-field" class="input-box" [(ngModel)]="animalPosition">
    <option value="0">Dog</option>
    <option value="1">Cat</option>
    <option value="2">Lion</option>
    <option value="3">Tiger</option>
    <option value="4">Elephant</option>
  </select>
</div>
<div id="output-container" class="container">
  <img *ngIf="animalPosition" id={{animalSource[animalPosition]}} src="{{animalSource[animalPosition]}}"
    alt="{{animalPosition}}" />
</div>
